workspace "A" {
    open-on-output "DP-1"
}

workspace "B" {
    open-on-output "DP-1"
}

workspace "C" {
    open-on-output "DP-1"
}

workspace "D" {
    open-on-output "HDMI-A-1"
}

workspace "E" {
    open-on-output "HDMI-A-1"
}

workspace "F" {
    open-on-output "HDMI-A-1"
}

workspace "G" {
    open-on-output "DP-2"
}

workspace "H" {
    open-on-output "DP-2"
}

workspace "I" {
    open-on-output "DP-2"
}

input {
    keyboard {
        repeat-delay 300
        repeat-rate 30
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
        accel-profile "flat"
    }
    focus-follows-mouse max-scroll-amount="10%"
}

//output "DP-3" {
//    mode "3840x2160@240"
//    scale 2
//    transform "normal"
//    variable-refresh-rate on-demand=true
//    position x=0 y=0
//}

//output "DP-2" {
//    mode "2560x1440@240"
//    scale 1
//    transform "normal"
//    variable-refresh-rate on-demand=true
//    position x=1920 y=0
//}
layout {
    gaps 12

    border {
        width 1
    }

    focus-ring {
        width 1
    }

    center-focused-column "never"
    always-center-single-column
    preset-column-widths {
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    background-color "transparent"

    default-column-width { proportion 0.75; }
    // single-column-width { proportion 0.7; }
    struts {
        left 2
        right 2
        top 2
        bottom 2
    }
}

window-rule {
    geometry-corner-radius 2
    clip-to-geometry true
    tiled-state true
    draw-border-with-background false
}

spawn-at-startup "/usr/bin/mate-polkit"
// spawn-at-startup "dms"
spawn-at-startup "qs" "-c" "noctalia-shell"
spawn-at-startup "/home/don/.config/niri/bin/DisableDualSenseTrackpad.sh"

environment {
    LD_PRELOAD ""
    MOZ_ENABLE_WAYLAND "1"
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_DESKTOP "niri"
    MOZ_DBUS_REMOTE "1"
    GDK_BACKEND "wayland"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    QT_WAYLAND_FORCE_DPI "physical"
    EGL_PLATFORM "wayland"
    CLUTTER_BACKEND "wayland"
    TERM "kitty"
    TERMINAL "kitty"
     _JAVA_AWT_WM_NONREPARENTING "1"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORMTHEME "qt6ct"
    XDG_DATA_DIRS "/home/don/.local/share:/home/don/.local/share/flatpak/exports/share:/var/lib/flatpak/exports/share:/usr/local/share/:/usr/share/"
    __GL_VRR_ALLOWED "1"
    __GL_GSYNC_ALLOWED "1"

}

prefer-no-csd

hotkey-overlay {
   skip-at-startup
}

overview {
    // How much workspaces zoom out (0 to 0.75)
    zoom 0.5

    // Backdrop color behind workspaces in the overview
    // Alpha channel is ignored - only solid colors supported
}

//screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
screenshot-notification-disable
animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}

window-rule {
    match app-id="^(steam_app_.*)$"
    variable-refresh-rate true
    open-fullscreen true
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule {
    match app-id="kitty" title="floating-kitty"
    open-floating true
    default-column-width { proportion 0.4; }
    default-window-height { proportion 0.5; }
}

include "binds.kdl"

include "dms/outputs.kdl"

include "dms/cursor.kdl"

// include "dms/windowrules.kdl"

// include "dms/colors.kdl"

include "dms/alttab.kdl"

// include "dms/layout.kdl"

include "./noctalia.kdl"

include "./windowrules.kdl"
